.main-header {
    background-image: linear-gradient(rgb(197, 141, 137), rgb(252, 232, 204));
    position: fixed;
    top: 0;
    right: 0; 
    left: 0;
    height: 48px;  
 }
 .header-info {
    text-align: left;
    color: rgb(219, 84, 75);
    position: absolute;
    left: 0;
    padding: 0;
    margin: 14-x 14px 0 14px;
 }
 .header-info a {
    padding: 0;
    text-decoration: none;
 }
 .header-info a:hover {
    background-color: transparent
 }
 nav {
    position: absolute;
    right: 0;
    display: flex;
  }
  
  a {
    text-decoration: none;
    color: rgb(219, 84, 75);
    padding: 15px;
    float: left;
  }
  
  a:hover {
    background-color: burlywood;
  }
.h1blue {
    margin: 20px;
    border: 2px solid yellow;
    background-color: black;
    color: blue;
}
.nike{
    margin-top: 80px;
}

.title {
    font-style: italic;
    color: rgb(0, 0, 0);
}
h1, h2, h3, p {
    text-align: center;
    color: rgb(0, 0, 0);
}
.items {
    display: flex;
    justify-content: center;
}
.item {
    display: flex;
    flex-direction: column;
}
.portrait {
    width: 300px;
    height: 300px;
}
.tab {
    background-color: gainsboro;
    width: 300px;
    padding: 40px;
    margin: 20px;
    border-radius: 20px;
}
h1.name {
    font-size: 30px;
    letter-spacing: 2px;
    margin-bottom: 20px;
    color: black;
}
h2.price {
    font-size: 38px;
    color: black;
}

.list {
    list-style-type: disc;
    margin-bottom: 50px;
    text-align: left;
}

.list li {
    margin-top: 20px;
    color: black;
}

hr {
    height: 7px;
    width: 80%;
    margin: auto;
    background-color: rgb(219, 84, 75);
    border: none;
    border-radius: 50px;
    margin-top: 20px;
}
button {
    background-color: rgba(219, 85, 75, 0.616);
    border-radius: 8px;
    color: white;
    padding: 8px;
    border: none;
    font-size: 20pt;
  }
  button:hover {
    transform: scale(1.2, 1.2);
    background-color: rgb(219, 85, 75);
    cursor: pointer;
  }
  .tab {
    background-color: gainsboro;
    width: 300px;
    padding: 40px;
    margin: 20px;
    border-radius: 20px;
}
h1.name {
    font-size: 30px;
    letter-spacing: 2px;
    margin-bottom: 20px;
    color: black;
}
h2.price {
    font-size: 38px;
    color: black;
}

.list {
    list-style-type: disc;
    margin-bottom: 50px;
    text-align: left;
}

.list li {
    margin-top: 20px;
    color: black;
}

hr {
    height: 7px;
    width: 80%;
    margin: auto;
    background-color: rgb(219, 84, 75);
    border: none;
    border-radius: 50px;
    margin-top: 20px;
}
button {
    background-color: rgba(219, 85, 75, 0.616);
    border-radius: 8px;
    color: white;
    padding: 8px;
    border: none;
    font-size: 20pt;
  }
  button:hover {
    transform: scale(1.2, 1.2);
    background-color: rgb(219, 85, 75);
    cursor: pointer;
  }